@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Inconsolata:wght@200..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jersey+10&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Young+Serif&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

#menuBurgerToggle {
    display: none;
}

.redStrokeRectangle {
    background: linear-gradient(black #680801);
    border-style: solid;
    border-color: #EB1A1A;

    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;

    height: 150px;
    width: 100%;
}

.logo {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 20px;
}

.circleLogo {
    background-color: #EB1A1A;
    width: 30px;
    height: 15px;
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
}

#circleLogo1 {
    transform: translate(0px, 35px) rotateZ(-45deg);
}

#circleLogo2 {
    transform: translate(-30px, 50px) rotateZ(135deg);
}

#navBar {
    margin-top: 85px;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    bottom: 25px;
}

.redRectangle {
    color: white;
    font-family: "Jersey 10";
    font-size: 20px;

    background-color: #EB1A1A;
    border-radius: 20px;

    padding-bottom: 16px;
    padding-top: 16px;
    width: 140px;
    height: fit-content;

    float: left;

    display: flex;
    justify-content: space-around;
}

#searchSymbol {
    color: white;
    margin-left: 20px;
    margin-top: -5px;
    width: 20%;
    height: 150%;
    background-color: white;
    -webkit-mask: url(/media/search.svg) no-repeat center;
            mask: url(/media/search.svg) no-repeat center;
    mask-size: contain;
}

#searchBar {
    height: 50px;
    width: 200px;
}

#searchInput {
    background-color: #eb1a1a00;
    color: white;
    font-family: "Jersey 10";
    height: 30px;
    font-size: 20px;
    border: 0;
    width: 70%;
    height: fit-content;
}

#searchInput::placeholder {
    color: white;
    font-family: "Jersey 10";
    font-size: 30px;
    padding-left: 10px;
}

#contactMe {
    scroll-behavior: smooth;
}

#customersFeedback {
    width: 205px;
}

.boxSection {
    display: flex;
    flex-direction: row;
}

.section {
    width: 530px;
    height: 530px;
    border: 1px solid #EB1A1A;
    background: linear-gradient(45deg black #666666);
    margin: 100px;
    border-radius: 20px;
}


#photoCV {
    width: 124px;
    height: 124px;
    border-radius: 50%;
    margin: 20px;
    background: url("/media/photo_bord_de_mer_cv.jpg");
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    zoom: 100%;
}

#introduce {
    margin-left: 25%;
    margin-top: -25%;
    margin-bottom: -25%;
}

#price {
    width: 100%;
    margin: 35% 0;
}



#feedBackSection {
    float: right;
}

.row {
    display: flex;
    justify-content: space-evenly;
}

.sectionText {
    color: #E6DAC6;
    font-family: "Jersey 10";
    font-size: 35px;
    text-align: center;
}

.accountCircle {
    width: 20%;
    background-color: #E6DAC6;
    -webkit-mask: url(/media/account_circle.svg) no-repeat center;
            mask: url(/media/account_circle.svg) no-repeat center;
    mask-size: contain;
}

#feedBack1 {
    margin-top: 30px;
}

#feedBack2 {
    margin-top: 30px;
}

#footer {
    height: 150px;
    border: 1px solid #EB1A1A;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

#mail {
    width: 352px;
}

#tel {
    width: 204px;
}

#legalsMention {
    width: 190px;
}

a {
    text-decoration: none;
    color: white;
}

/* Tablet Responsive */

@media (max-width: 768px) {

    #menuBurgerToggle:checked ~ .groupBar > .menuBurger span:nth-child(1) {
        transition: transform 0.2s ease-out 0s;
        transform: rotate(45deg) translate(5px, 5px)
    }

    #menuBurgerToggle:checked ~ .groupBar > .menuBurger span:nth-child(2) {
        transition: opacity 0.2s ease-out 0s;
        opacity: 0;
    }

    #menuBurgerToggle:checked ~ .groupBar > .menuBurger span:nth-child(3) {
        transition: transform 0.2s ease-out 0s;
        transform: rotate(-45deg) translate(5px, -5px)
    }

    #menuBurgerToggle:not(checked) ~ .groupBar > .menuBurger span:nth-child(1) {
        transition: transform 0.2s ease-out 0s;
        transform: rotate(0deg) translate(0px, 0px)
    }

    #menuBurgerToggle:not(checked) ~ .groupBar > .menuBurger span:nth-child(2) {
        transition: opacity 0.2s ease-out 0s;
        opacity: 1;
    }

    #menuBurgerToggle:not(checked) ~ .groupBar > .menuBurger span:nth-child(3) {
        transition: transform 0.2s ease-out 0s;
        transform: rotate(0deg) translate(0px, 0px)
    }

    .redStrokeRectangle {
        background: linear-gradient(black #680801);
        border-style: solid;
        border-color: #EB1A1A;

        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;

        height: 100%;
        width: 20%;

        position: fixed;
    }

    #navBar {
        margin-top: 85px;
        display: flex;
        flex-direction: column;
        gap: 25px;
        position: relative;
        bottom: 25px;
        align-items: center;
    }

    .redRectangle {
    color: white;
    font-family: "Jersey 10";
    font-size: 20px;

    background-color: #EB1A1A;
    border-radius: 20px;

    padding-bottom: 16px;
    padding-top: 16px;
    width: 120px;
    height: fit-content;

    float: left;

    display: flex;
    justify-content: space-around;
    }

    

    #searchBar {
        height: 50px;
        width: 100px;
        display: flex;
        flex-direction: column;
    }

    #searchSymbol {
        display: none;
    }

    #searchInput {
        background-color: #eb1a1a00;
        height: 30px;
        font-size: 20px;
        border: 0;
        width: 100%;
        height: fit-content;
        align-items: center;
    }

    #customersFeedback {
        width: 100px;
        text-align: center;
    }

    .menuBurger {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5px;
        float: right;
        width: 40px;
        height: 40px;
        margin-top: 25px;
        background-color: #EB1A1A;
        border-radius: 5px;
    }

    .bar {
        background-color: white;
        width: 25px;
        height: 2px;
    }

    .boxSection {
        display: flex;
        flex-direction: column;
        margin-left: 15%;
    }

    #introduce {
        margin-top: -150px;
    }

    #footer {
        height: 300px;
        border: 1px solid #EB1A1A;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
    }
}


/* Mobile Responsive */

@media (max-width: 375px) {

    .redStrokeRectangle {
        background: linear-gradient(black #680801);
        border-style: solid;
        border-color: #EB1A1A;

        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;

        height: 100%;
        width: 20%;

        filter: drop-shadow(10px 10px 10px #EB1A1A);

        position: fixed;
    }

    #navBar {
        margin-top: 85px;
        display: flex;
        flex-direction: column;
        gap: 25px;
        position: relative;
        bottom: 25px;
    }

    .boxSection {
        display: flex;
        flex-direction: column;
        margin-left: 15%;
    }

    #introduce {
        margin-top: -150px;
    }

    #footer {
        height: 300px;
        border: 1px solid #EB1A1A;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
    }
}