@use "variables.scss" as *;

@mixin flexCenter ($direction: row) {
    display: flex;
    justify-content: center;
}

@mixin darkblueColorBackground () {
    background-color: $mainDarkBlueColor;
}

@mixin darkBlueRectangleWhiteTextJerseyFont () {
    background-color: $electricBlueButtonColor;
    color: $textPureWhiteColor;
    font-family: $fontJersey10;
}

@mixin sectionGrayMixin () {
    background-color: $graySectionColor;
}