// Colors

// Main Black Background Color

$mainBlackColor: #020617;

// Main Blue Header, Navbar, Footer...
$mainDarkBlueColor: #0F172A;

// Gray Sections Background
$graySectionColor: #334155;

// Button Background Color
$electricBlueButtonColor: #3B82F6;

$textPureWhiteColor: white;

// Fonts

$fontJersey10: "Jersey 10";
