// Colors

// Main Black Background Color

$mainBlackColor: black;

// Main Red
$mainRedColor: rgb(235, 26, 26);

// Hue Red

$firstHueRedColor: rgb(235, 20, 20);
$secondHueRedColor: rgb(235, 15, 15);
$thirdHueRedColor: rgb(235, 10, 10);
$fourthHueRedColor: rgb(235, 5, 5);

$textPureWhiteColor: white;
$textCreamWhiteColor: #E6DAC6;

// Fonts

$fontJersey10: "Jersey 10";
