// Colors

// Main Black Background Color

$mainBlackColor: #020617;

// Main Blue Header, Navbar, Footer...
$mainDarkBlueColor: #0F172A;

// Gray Sections Background
$graySectionColor: #334155;

// Button Background Color
$electricBlueButtonColor: #3B82F6;

// Hue Red

//$firstHueRedColor: rgb(235, 20, 20);
//$secondHueRedColor: rgb(235, 15, 15);
//$thirdHueRedColor: rgb(235, 10, 10);
//$fourthHueRedColor: rgb(235, 5, 5);

$textPureWhiteColor: white;
$textCreamWhiteColor: #E6DAC6;

// Fonts

$fontJersey10: "Jersey 10";
