@use "content.scss" as *;
@use "header.scss" as *;
@use "mixins.scss" as *;
@use "variables.scss" as *;

@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Inconsolata:wght@200..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jersey+10&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Young+Serif&display=swap');* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

#menuBurgerToggle {
    display: none;
}

.redStrokeRectangle {
    @include redStrokeRectangleBlackBackground;

    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;

    height: 150px;
    width: 100%;

    z-index: 999;
}

.logo {
    @include flexCenter;
    position: relative;
    bottom: 20px;
}

.circleLogo {
    background-color: $mainRedColor;
    width: 30px;
    height: 15px;
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
}

#circleLogo1 {
    transform: translate(0px, 35px) rotateZ(-45deg);
}

#circleLogo2 {
    transform: translate(-30px, 50px) rotateZ(135deg);
}

#navBar {
    margin-top: 85px;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    bottom: 25px;
}

.redRectangle {
    @include redRectangleWhiteTextJerseyFont;
    font-size: 20px;

    border-radius: 20px;

    padding-bottom: 16px;
    padding-top: 16px;
    width: 140px;
    height: fit-content;

    float: left;

    display: flex;
    justify-content: space-around;
}

#searchSymbol {
    color: white;
    margin-left: 20px;
    margin-top: -5px;
    width: 20%;
    height: 150%;
    background-color: white;
    -webkit-mask: url(/media/search.svg) no-repeat center;
            mask: url(/media/search.svg) no-repeat center;
    mask-size: contain;
}

#searchBar {
    height: 50px;
    width: 200px;
}

#searchInput {
    background-color: #eb1a1a00;
    color: white;
    font-family: "Jersey 10";
    height: 30px;
    font-size: 20px;
    border: 0;
    width: 70%;
    height: fit-content;
}

#searchInput::placeholder {
    color: white;
    font-family: "Jersey 10";
    font-size: 30px;
    padding-left: 10px;
}

#customersFeedback {
    width: 205px;
}

.boxSection {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 50px 0;
}

.section {
    width: 530px;
    height: 530px;
    border: 1px solid #EB1A1A;
    border-radius: 20px;
    box-shadow: 0 0 10vw 0vw rgb(235, 26, 26),
    0 0 2vw 0.4vw rgb(235, 20, 20),
    0 0 0.5vw 0.2vw rgb(235, 15, 15),
    0 0 0.5vw 0.2vw rgb(235, 10, 10),
    0 0 0.5vw 0.2vw rgb(235, 5, 5);
}


#photoCV {
    width: 124px;
    height: 124px;
    border-radius: 50%;
    margin: 20px;
    background: url("/media/photo_bord_de_mer_cv.jpg");
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    zoom: 100%;
}

#introduce {
    margin-left: 25%;
    margin-top: -25%;
    margin-bottom: 10%;
}

#price {
    width: 100%;
    margin: 35% 0;
}



#feedBackSection {
    float: right;
}

.row {
    display: flex;
    justify-content: space-evenly;
}

.sectionText {
    color: #E6DAC6;
    font-family: "Jersey 10";
    font-size: 35px;
    text-align: center;
}

.accountCircle {
    width: 20%;
    background-color: #E6DAC6;
    -webkit-mask: url(/media/account_circle.svg) no-repeat center;
            mask: url(/media/account_circle.svg) no-repeat center;
    mask-size: contain;
}

#feedBack1 {
    margin-top: 30px;
}

#feedBack2 {
    margin-top: 30px;
}

footer {
    width: 100%;
}

.footer {
    @include redStrokeRectangleBlackBackground;
    height: 150px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

#mail {
    width: 352px;
}

#tel {
    width: 204px;
}

#github {
    width: 75px;
    height: 75px;
    /* padding: 5px; */
}

.githubLogo {
    margin-top: -5px;
    width: 50px;
    height: 50px;
}

#legalsMention {
    width: 190px;
}

a {
    text-decoration: none;
    color: white;
}

/* Tablet Responsive */

@media (max-width: 768px) {

    body {
        width: 100%;
    }

    #menuBurgerToggle:checked ~ .groupBar > .boxMenuBurger > .menuBurger span:nth-child(1) {
        transition: transform 0.2s ease-out 0s;
        transform: rotate(45deg) translate(5px, 5px)
    }

    #menuBurgerToggle:checked ~ .groupBar > .boxMenuBurger > .menuBurger span:nth-child(2) {
        transition: opacity 0.2s ease-out 0s;
        opacity: 0;
    }

    #menuBurgerToggle:checked ~ .groupBar > .boxMenuBurger > .menuBurger span:nth-child(3) {
        transition: transform 0.2s ease-out 0s;
        transform: rotate(-45deg) translate(5px, -5px)
    }

    #menuBurgerToggle:not(checked) ~ .groupBar > .boxMenuBurger > .menuBurger span:nth-child(1) {
        transition: transform 0.2s ease-out 0s;
        transform: rotate(0deg) translate(0px, 0px)
    }

    #menuBurgerToggle:not(checked) ~ .groupBar > .boxMenuBurger > .menuBurger span:nth-child(2) {
        transition: opacity 0.2s ease-out 0s;
        opacity: 1;
    }

    #menuBurgerToggle:not(checked) ~ .groupBar > .boxMenuBurger > .menuBurger span:nth-child(3) {
        transition: transform 0.2s ease-out 0s;
        transform: rotate(0deg) translate(0px, 0px)
    }

    .redStrokeRectangle {
        border-style: solid;
        border-color: #EB1A1A;

        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;

        height: 100%;
        width: 20%;

        position: fixed;

        transform: translateX(-150px);
        transition: transform 0.4s ease;
    }

    .redStrokeRectangle.active {
        transform: translateX(0);
    }

    #navBar {
        margin-top: 85px;
        display: flex;
        flex-direction: column;
        gap: 25px;
        position: relative;
        bottom: 25px;
        align-items: center;
    }

    .redRectangle {
        color: white;
        font-family: "Jersey 10";
        font-size: 20px;

        background-color: #EB1A1A;
        border-radius: 20px;

        padding-bottom: 16px;
        padding-top: 16px;
        width: 100px;
        height: fit-content;

        float: left;

        display: flex;
        justify-content: space-around;
    }

    

    #searchBar {
        height: 50px;
        width: 100px;
        display: flex;
        flex-direction: column;
    }

    #searchSymbol {
        display: none;
    }

    #searchInput {
        background-color: #eb1a1a00;
        height: 30px;
        font-size: 20px;
        border: 0;
        width: 100%;
        height: fit-content;
        align-items: center;
        margin-left: -2px;
    }

    #services {
        text-align: center;
    }

    #customersFeedback {
        width: 100px;
        text-align: center;
    }

    .boxMenuBurger {
        display: flex;
        justify-content: flex-end;
        margin-right: 5%;
    }

    .menuBurger {
        height: 100%;
        display: flex;
        position: absolute;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5px;
        width: 40px;
        height: 40px;
        margin-top: 25px;
        background-color: #EB1A1A;
        border-radius: 5px;
    }

    .bar {
        background-color: white;
        width: 25px;
        height: 2px;
    }

    .boxSection {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .section {                
        margin: 25px 0;
    }

    #introduce {
        margin-top: -150px;
    }

    footer {
        width: 100vw;
    }

    .footer {
        height: 300px;
        border: 1px solid #EB1A1A;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
    }
}


/* Mobile Responsive */

@media (max-width: 375px) {

    .redStrokeRectangle {
        background: linear-gradient(black #680801);
        border-style: solid;
        border-color: #EB1A1A;

        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;

        height: 100%;
        width: 20%;

        position: fixed;
    }

    .logo {
       left: 15px;
    }

    #navBar {
        margin-top: 85px;
        display: flex;
        flex-direction: column;
        gap: 25px;
        position: relative;
        bottom: 25px;
    }

    .redRectangle {
        width: 50px;
        text-align: center;
        font-size: smaller;
    }

    #searchBar {
        width: 50px;
    }

    #searchInput {
        margin-left: -2px;
        margin-top: -2px;
    }

    #searchInput::placeholder {
        font-size: 12px;
        height: fit-content;
    }

    #customersFeedback {
        width: 50px;
        font-size: 10px;
    }

    #cart {
        width: 40px;
    }

    .boxSection {
        display: flex;
        flex-direction: column;
        align-items: center;
        /* margin-left: 15%; */
    }

    .section {
        height: 500px;
        width: 200px;
    }

    #photoCV {
        margin: auto;
        margin-top: 25px;
        display: flex;
        justify-content: center;
    }

    .sectionText {
        font-size: 1.3rem;
    }

    #introduce {
        margin-top: 25px;
        margin-left: 0px;
    }

    #price {
        margin-bottom: -25px;
        margin-top: 80px;
    }

    .row {
        display: flex;
        flex-direction: column;
        height: auto;
        width: auto;
    }

    .accountCircle {
        height: 100px;
        margin: auto;
        display: flex;
        justify-content: center;
    }

    #feedBack1 {
        margin-top: -20px;
    }

    #feedBack2 {
        margin-top: -20px;
    }

    .footer {
        height: 300px;
        border: 1px solid #EB1A1A;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
    }
    #mail {
        width: 275px;
    }

}