@use "content.scss" as *;
@use "header.scss" as *;
@use "mixins.scss" as *;
@use "variables.scss" as *;

@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Inconsolata:wght@200..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jersey+10&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Young+Serif&display=swap');

// Desktop Responsiveness
@media (min-width: 768px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    html {
        height: 100%;
    }

    body {
        background-color: $mainBlackColor;
        height: 100%;
    }

    #wrapper {
        display: flex;
        flex-direction: column;
        min-height: 100%;
    }

    #menu-burger-toggle {
        display: none;
    }

    .dark-blue-rectangle {
        @include darkblueColorBackground;

        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;

        height: 150px;
        width: 100%;

        z-index: 999;
    }

    .logo {
        @include flexCenter;
        position: relative;
        bottom: 20px;
    }

    .circle-logo {
        background-color: $electricBlueButtonColor;
        width: 30px;
        height: 15px;
        border-top-left-radius: 200px;
        border-top-right-radius: 200px;
    }

    #circle-logo1 {
        transform: translate(0px, 35px) rotateZ(-45deg);
    }

    #circle-logo2 {
        transform: translate(-30px, 50px) rotateZ(135deg);
    }

    #nav-bar {
        margin-top: 85px;
        display: flex;
        justify-content: space-evenly;
        position: relative;
        bottom: 25px;
    }

    .fa-search {
        margin-left: auto
    }

    .blue-rectangle {
        @include electricBlueWhiteTextJerseyFont;
        font-size: 20px;

        border-radius: 20px;

        padding-bottom: 16px;
        padding-top: 16px;
        width: 140px;
        height: fit-content;

        float: left;

        display: flex;
        justify-content: space-around;
    }

    #search-input {
        background-color: #eb1a1a00;
        color: white;
        font-family: "Jersey 10";
        height: 30px;
        font-size: 24px;
        border: 0;
        width: 70%;
        height: fit-content;
        margin-right: auto;
    }

    #search-input::placeholder {
        color: white;
        font-family: "Jersey 10";
        font-size: 30px;
        padding-left: 10px;
        margin-top: 10px;
    }

    main {
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .box-section {
        display: flex;
        flex-direction: row;
    }

    #section-introduce {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 50px;
        align-items: center;
    }

    .section {
        @include sectionGrayMixin;
        width: 530px;
        height: 530px;
        border-radius: 20px;
    }


    #photo {
        width: 124px;
        height: 124px;
        border-radius: 50%;
        background: url("/media/photo_bord_de_mer_cv.jpg");
        background-repeat: no-repeat;
        background-position: center;
        object-fit: cover;
        zoom: 100%;
    }

    #introduce {
        font-size: 34px;
    }

    #project-section {
        float: right;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .section-text {
        color: $textPureWhiteColor;
        font-family: "Jersey 10";
        font-size: 24px;
        text-align: center;
        padding: 25px;
    }

    .fa-java {
        font-size: 52px;
        color: $textPureWhiteColor;
    }

    #project-1 {
        margin-top: 30px;
    }

    #feedBack2 {
        margin-top: 30px;
    }

    footer {
        @include darkblueColorBackground;
        height: 150px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
    }

    #mail {
        width: 352px;
    }

    #tel {
        width: 204px;
    }

    #legals-mention {
        width: 190px;
    }

    a {
        text-decoration: none;
        color: white;
    }
}

/* Tablet Responsive */

@media (min-width: 375px) and (max-width: 834px) {

    body {
        width: 100%;
    }

    #menu-burger-toggle:checked ~ .group-bar > .box-menu-burger > .menu-burger span:nth-child(1) {
        transition: transform 0.2s ease-out 0s;
        transform: rotate(45deg) translate(5px, 5px)
    }

    #menu-burger-toggle:checked ~ .group-bar > .box-menu-burger > .menu-burger span:nth-child(2) {
        transition: opacity 0.2s ease-out 0s;
        opacity: 0;
    }

    #menu-burger-toggle:checked ~ .group-bar > .box-menu-burger > .menu-burger span:nth-child(3) {
        transition: transform 0.2s ease-out 0s;
        transform: rotate(-45deg) translate(5px, -5px)
    }

    #menu-burger-toggle:not(checked) ~ .group-bar > .box-menu-burger > .menu-burger span:nth-child(1) {
        transition: transform 0.2s ease-out 0s;
        transform: rotate(0deg) translate(0px, 0px)
    }

    #menu-burger-toggle:not(checked) ~ .group-bar > .box-menu-burger > .menu-burger span:nth-child(2) {
        transition: opacity 0.2s ease-out 0s;
        opacity: 1;
    }

    #menu-burger-toggle:not(checked) ~ .group-bar > .box-menu-burger > .menu-burger span:nth-child(3) {
        transition: transform 0.2s ease-out 0s;
        transform: rotate(0deg) translate(0px, 0px)
    }

    .logo {
        @include flexCenter();
        margin-left: 25px;
    }

    // NAVBAR //

    .dark-blue-rectangle {

        border-top-right-radius: 20px;
        height: 100%;
        width: 20%;
        position: fixed;
        transform: translateX(-100%);
        transition: transform 0.4s ease;
    }

    .dark-blue-rectangle.active {
        transform: translateX(0);
    }

    #nav-bar {
        margin-top: 85px;
        display: flex;
        flex-direction: column;
        gap: 25px;
        align-items: center;
    }

    .blue-rectangle {
        color: white;
        font-family: "Jersey 10";
        font-size: 20px;

        background-color: $electricBlueButtonColor;
        border-radius: 20px;

        padding-bottom: 16px;
        padding-top: 16px;
        width: 100px;
        height: fit-content;

        float: left;

        display: flex;
        justify-content: space-around;
        text-align: center;
    }

    

    #search-bar {
        height: 50px;
        width: 100px;
        display: flex;
        flex-direction: column;
    }

    .fa-search {
        font-size: 0px;
    }

    #search-input {
        background-color: #eb1a1a00;
        height: 30px;
        font-size: 20px;
        border: 0;
        width: 100%;
        height: fit-content;
        align-items: center;
        margin-left: -2px;
    }

    #search-input::placeholder {
        font-size: 20px;
        text-align: center;
    }

    #services {
        text-align: center;
    }

    // NAVBAR //

    .box-menu-burger {
        display: flex;
        justify-content: flex-end;
        margin-right: 5%;
    }

    .menu-burger {
        height: 100%;
        display: flex;
        position: absolute;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5px;
        width: 40px;
        height: 40px;
        margin-top: 25px;
        background-color: $electricBlueButtonColor;
        border-radius: 5px;
    }

    .bar {
        background-color: white;
        width: 25px;
        height: 2px;
    }

    .box-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .section {                
        margin: 25px 0;
    }

    #introduce {
        margin-top: -150px;
    }

    footer {
        width: 100vw;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        gap: 50px;
        padding: 25px;
    }
}


/* Mobile Responsive */

@media (max-width: 425px) {

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        background-color: $mainBlackColor;
    }

    #menu-burger-toggle {
        display: none;
    }

    .dark-blue-rectangle {
        @include darkblueColorBackground;

        border-bottom-right-radius: 20px;

        height: 100%;
        width: 30%;

        z-index: 999;
    }

    .logo {
        @include flexCenter;
        margin-left: 25px;
    }

    .circle-logo {
        background-color: $electricBlueButtonColor;
        width: 30px;
        height: 15px;
        border-top-left-radius: 200px;
        border-top-right-radius: 200px;
    }

    #circle-logo1 {
        transform: translate(0px, 35px) rotateZ(-45deg);
    }

    #circle-logo2 {
        transform: translate(-30px, 50px) rotateZ(135deg);
    }

    #nav-bar {
        margin-top: 85px;
        display: flex;
        justify-content: space-evenly;
    }

    .blue-rectangle {
        @include electricBlueWhiteTextJerseyFont;
        font-size: 20px;

        border-radius: 20px;

        padding-bottom: 16px;
        padding-top: 16px;
        width: 100px;
        height: fit-content;

        float: left;

        display: flex;
        justify-content: space-around;
    }

    #search-bar {
        height: 50px;
        width: 100px;
    }

    #search-input {
        color: white;
        font-family: "Jersey 10";
        height: 30px;
        font-size: 20px;
        height: fit-content;
    }

    #search-input::placeholder {
        color: white;
        font-family: "Jersey 10";
        font-size: 20px;
    }

    .box-section {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin: 50px 0;
    }

    #section-introduce {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        gap: 150px
    }
 
    .section {
        @include sectionGrayMixin;
        width: 300px;
        height: 425px;
        border-radius: 20px;
    }


    #photo {
        width: 124px;
        height: 124px;
        border-radius: 50%;
        background: url("/media/photo_bord_de_mer_cv.jpg");
        background-repeat: no-repeat;
        background-position: center;
        object-fit: cover;
        zoom: 100%;
    }

    #introduce {
        font-size: 25px;
    }

    #project-section {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding: 25px;
    }

    .section-text {
        color: $textPureWhiteColor;
        font-family: "Jersey 10";
        font-size: 20px;
        text-align: center;
        
    }

    .fa-java {
        font-size: 46px;
        color: $textPureWhiteColor;
        margin-top: 50px;
    }

    #project1 {
        margin-top: 30px;
    }

    footer {
        width: 100vw;
        margin-top: 200px;
        @include darkblueColorBackground;
        height: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
    }

    #mail {
        width: 352px;
    }

    #tel {
        width: 204px;
    }

    #legals-mention {
        width: 190px;
    }

    a {
        text-decoration: none;
        color: white;
    }

}